<html>
<head>
    <link rel="stylesheet" href="../static/styles/investors.css">
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/students" class="active">Students</a>
        <a href="/investors">Investors</a>
    </div>
    <br/>
    <br/>
    <form action="/student/view">
        <center><button type="submit" class="btn btn-primary">request loan</button></center>
    </form>
    <form action="/student/pay">
        <center><button type="submit" class="btn btn-primary">pay this years loan</button></center>
    </form>
    
</body>
</html>